<launch>


  <include file="$(find ar3_hardware_interface)/launch/ar3_hardware_bringup.launch">
    <arg name="use_existing_calibrations" value="true"/>
  </include>

  <include file="$(find formant_ar3_control)/launch/brian.launch">
  </include>

  <include file="$(find formant_ar3_control)/launch/formant_move_demo.launch">
  </include>

</launch>
